/* html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
  
body {
    margin: 0;
    min-height: 100vh;
    background-color: rgb(81, 81, 114);
    color: rgb(236, 233, 233);
}*/
.home{
  margin: 0;
  min-height: 100vh;
  background-color: rgb(81, 81, 114);
  color: rgb(236, 233, 233);
}
article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1,h2,h3,h4,h5,h6, p{
    margin: 0;
    text-align: center;
}
  
h1 {
    font-size: 3em;
}
  
figcaption,
  figure,
  main {
    display: block;
}
  
figure {
    margin: 1em 40px;
}
  
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
  
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
  
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
    color: inherit;
    font: inherit;
}
  
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
  
b,
strong {
    font-weight: inherit;
}
  
b,
strong {
    font-weight: bolder;
}
  
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
  
dfn {
    font-style: italic;
}
  
mark {
    background-color: #ff0;
    color: #000;
}
  
small {
    font-size: 80%;
}
  
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  audio,
  video {
    display: inline-block;
  }
  
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  
  img {
    border-style: none;
  }

  img,
  picture,
  svg,
  video{
    max-width: 100%;
    display: block;
  }
  
  svg:not(:root) {
    overflow: hidden;
  }
  
  
  
  optgroup,
  select,
  textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }

  
  select {
    text-transform: none;
  }
  
  textarea {
    overflow: auto;
  }
  
  details,
  menu {
    display: block;
  }
  
  summary {
    display: list-item;
  }
  
  canvas {
    display: inline-block;
  }
  
  template {
    display: none;
  }
  
  [hidden] {
    display: none;
  }


.home--intro,
  .home--hero{
    height: 100vh;
    margin: 0 auto;
    width: 80%;
}


.home--intro{

    /* height: inherit; */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}
  /* .home--intro_container{
    height: inherit;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
  } */

.home--hero,
.home--main{
    /* background-color: blue; */
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* border: 1px solid white; */
    padding: 18px 10px;
}

.home--hero > img{
    width: 150px ;
}

.home--intro_links{
    display: flex;
    gap: 2rem
}

.home--intro_links > a{
    background-color: rgb(185, 139, 185);
    padding: 12px 15px;
}

.home--intro_links > a:hover{
    background-color: rgb(116, 95, 116);
}

.home--main{
    width: 80%;
    margin: 0 auto;
}

.home--main > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 12px 15px;
}
.home--main > div> img{
    width: 70px;
}

.home--last-section{
    margin: 0 auto;
    width: 80%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

@media screen and (min-width: 600px){

    h1{
        font-size: 3.5rem;
    }

    section:nth-child(even){
        background-color: rgb(32, 32, 82);
    }
    .home--hero,
    .home--main{
        flex-direction: row;
        height: 100vh;
        justify-content: space-around;
    }

    .home--hero > h2{
        padding: 32px 28px;
        width: 50%;
        font-size: 2.4rem;
    }
    .home--hero > img{
        width: 350px;
    }
    .row-reverse_desktop{
        flex-direction: row-reverse;
    }
}