.navbar{
    display: flex;
    background-color: #3e3e72;
    align-items: center;
    padding: 15px 12px;
    height: 8vh;
}
.navbar > h2{
    margin-right: auto;
    color: #fff;
}


.navbar--list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 12px 15px;
}
li>a{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}
.navbar--list > li {
    padding: 0 10px;

}

.auth--btn{
    background-color: rgb(101, 206, 101);
    border: none;
}

.auth--btn:hover{
    background-color: rgba(33, 107, 33, 0.862);
    cursor: pointer;
}